/Users/mike/Git Respositories/Language Spelling/Dutch_Spelling/bin/
/Users/mike/Git Respositories/Language Spelling/Dutch_Spelling/obj/
/Users/mike/Git Respositories/Language Spelling/Spelling.Core/bin/
/Users/mike/Git Respositories/Language Spelling/Spelling.Core/obj/
